<h1 class="text-center">Cats</h1>

<div class="container">
  <div class="row">
    <% @cats.each do |cat| %>
    <div class="col-md-4">
      <div class="well">
        <h3><%= cat.name %></h3>
        <%= image_tag cat.picture, class: "img-responsive" %>
        <blockquote>
          <%= cat.description %>
        </blockquote>
        <%= link_to 'Show', cat, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_cat_path(cat), class: "btn btn-success" %>
        <%= link_to 'Destroy', cat, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  </div>
</div>
